<h1> <a href = "/"> TKO Restaurant </a> </h1>

<h3> Add Order Page </h3>

<form id="addOrder" action="http://flip3.engr.oregonstate.edu:9023">
	Customer: <select name = "customers" id="customers">
				{{#if customers}}
					{{#each customers}}
						<option value="{{this.customerId}}">{{this.customerName}}</option>
					{{/each}}
				{{/if}}
		</select>	<br> <br>
	Is Delivery?: <input type="radio" name = "yes" id="yes">Yes <input type="radio" name = "no" id="no"> No <br> <br>
	Employee: <select name = "employees" id="employees">
				{{#if employees}}
					{{#each employees}}
						<option value="{{this.employeeId}}">{{this.employeeName}}</option>
					{{/each}}
				{{/if}}	
		</select>	<br> <br>
	Items: <select name = "menu" id="menu">
				{{#if menuItems}}
					{{#each menuItems}}
						<option value="{this.menuItemId}">{{this.menuItemName}}</option>
					{{/each}}
				{{/if}}
		</select>	<br> <br>
	<input type="submit" name="Add Order" value = "Add Order" id="addOrderButton"> </a>
</form>