<h1> <a href = "/"> TKO Restaurant </a> </h1>

<h3> Adding a New Customer </h3>

<form id="addEmployee" action="http://flip3.engr.oregonstate.edu:6765">
	First Name: <input type="text" name = "fname" id="fname"> <br> <br>
	Last Name: <input type="text" name = "lname" id="lname"> <br> <br>
	<input type="submit" name="Add Employee" value = "Add Employee" id="addEmployeeButton"> </a>

<h3> Employees Page </h3>

<table id="employees">
	<tr>
		<th> ID </th>
		<th> First Name </th>
		<th> Last Name </th>
	</tr>
	
	

	{{#if results}}
		{{#each results}}
			<tr>
				<td> {{this.id}} </td>
				<td> {{this.fname}} </td>
				<td> {{this.lname}} </td>
				<td><a href="/updateTable?id={{this.id}}"><input type="button" value="Update"></a></td>
                <td>
                    <a href = "/"> <input type="button" name="delete" value="Delete" onClick="deleteData('employees',{{this.id}})">
                    <input type="hidden" id="delete{{this.id}}">
                </td>
			</tr>
		{{/each}}
    {{/if}}
	
</table>