<h1> <a href = "/"> TKO Restaurant </a> </h1>

<h3> Orders Page </h3>

<form id="addOrder" action="http://flip3.engr.oregonstate.edu:9023">
	Customer: <select name = "customers" id="customers">
				{{#if results}}
					{{#each results}}
						<option value="\{this.customers.id}\">{{this.customers.fname}}</option>
					{{/each}}
				{{/if}}
		</select>	<br> <br>
	Is Delivery?: <input type="radio" name = "yes" id="yes"> <input type="radio" name = "no" id="no"> <br> <br>
	Employee: <select name = "employees" id="employees">
				{{#if results}}
					{{#each results}}
						<option value="\{this.employees.id}\">{{this.employees.fname}}</option>
					{{/each}}
				{{/if}}	
		</select>	<br> <br>
	Items: <select multiple="" name = "menu" id="menu">
				{{#if results}}
					{{#each results}}
						<option value="\{this.menu_items.id}\">{{this.menu_items.name}}</option>
					{{/each}}
				{{/if}}
		</select>	<br> <br>
	<input type="submit" name="Add Orser" value = "Add Orser" id="addOrserButton"> </a>
</form>

<table>
	<tr>
		<th> ID </th>
		<th> Customer Name </th>
		<th> Order Date </th>
		<th> Is Delivery </th>
		<th> Employee Name </th>
		<th> Delivery Date </th>
		<th> Item Name </th>
		<th> Quantity </th>
		<th> Price </th>
	</tr>
	
	

	{{#if results}}
		{{#each results}}
			<tr>
				<td> {{this.id}} </td>
				<td> {{this.customerName}} </td>
				<td> {{this.orderDate}} </td>
				<td> {{this.isDelivery}} </td>
				<td> {{this.employeeName}} </td>
				<td> {{this.delivery_date}} </td>
				<td> {{this.item_name}} </td>
				<td> {{this.quantity}} </td>
				<td> {{this.price}} </td>
			</tr>
		{{/each}}
    {{/if}}
	
</table>



