<h1> <a href = "/"> TKO Restaurant </a> </h1>


<h3> Orders Page </h3>


<table>
	<tr>
		<th> ID </th>
		<th> Customer Name </th>
		<th> Order Date </th>
		<th> Is Delivery </th>
		<th> Employee Name </th>
		<th> Delivery Date </th>
		<th> Item Name </th>
		<th> Quantity </th>
		<th> Price </th>
	</tr>
	
	

	{{#if results}}
		{{#each results}}
			<tr>
				<td> {{this.id}} </td>
				<td> {{this.customerName}} </td>
				<td> {{this.orderDate}} </td>
				<td> {{this.isDelivery}} </td>
				<td> {{this.employeeName}} </td>
				<td> {{this.delivery_date}} </td>
				<td> {{this.item_name}} </td>
				<td> {{this.quantity}} </td>
				<td> {{this.price}} </td>
			</tr>
		{{/each}}
    {{/if}}
	
</table>
<br> <br>
<a href='/addOrder'> <input type="button" name="addOrder" value = "Add Order" id="addOrderButton"> </a>



