<h1> <a href = "/"> TKO Restaurant </a> </h1>

<h3> Add an Order </h3>

<form id="addOrder" action="/">
	Customer: 	
		<select name = "customers" id="customers">
			{{#if customers}}
				{{#each customers}}
					<option value="{{this.id}}">{{this.customerName}}</option>
				{{/each}}
			{{/if}}
		</select>	<br> <br>
	
	Is Delivery?: <input type="radio" name = "isDelivery" id="isDelivery" value="1">Yes <input type="radio" name = "isDelivery" id="isDelivery" value="0"> No <br> <br>

	
	Employee: 
		<select name = "employees" id="employees">
			{{#if employees}}
				{{#each employees}}
					<option value="{{this.id}}">{{this.employeeName}}</option>
				{{/each}}
			{{/if}}	
		</select>	<br> <br>
		
	Item:
		<select name ="items" id="items">
			{{#if items}}
				{{#each items}}
					<option value="{{this.id}}">{{this.item_name}} </option>
				{{/each}}
			{{/if}}
		</select> 
		
		Quantity:
		
	<input type="submit" name="Add Order" value = "Add Order" id="addOrderButton"> </a>
</form>

<h3> Orders Information </h3>

<table>
	<tr>
		<th> ID </th>
		<th> Customer Name </th>
		<th> Order Date </th>
		<th> Is Delivery </th>
		<th> Employee Name </th>
		<th> Delivery Date </th>
		<th> Item Name </th>
		<th> Quantity </th>
		<th> Price </th>
	</tr>
	
	

	{{#if results}}
		{{#each results}}
			<tr>
				<td> {{this.id}} </td>
				<td> {{this.customerName}} </td>
				<td> {{this.orderDate}} </td>
				<td> {{this.isDelivery}} </td>
				<td> {{this.employeeName}} </td>
				<td> {{this.delivery_date}} </td>
				<td> {{this.item_name}} </td>
				<td> {{this.quantity}} </td>
				<td> {{this.price}} </td>
			</tr>
		{{/each}}
    {{/if}}
	
</table>



